.hero {
    position: relative;
    width: 100%;
}

.heading-wrapper {
    padding: var(--ws-6) var(--ws-auto);   
    width: 100%;
    height: 50vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 50;
 }

 .hero-heading {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5 ease-in;
 }

.hero-text {
    font-family: var(--body-ff);
    font-size: 16px;
    color: var(--secondary-clr);
    align-self: flex-end;
    /*margin-top: var(--ws-4);*/
    transform: translateY(50px);
    opacity: 0;
}

.hero-img-floater {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-left: var(--ws-6);
    padding-right: var(--ws-auto);
}

.img-float {
    width: 30%;
    height: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 0;
    transform: translateY(100px);
}

.hero-img-wrapper {
    background-image: url("../../Assets/Images/Project-Image (13).jpg");
    top: -135px;
    left: 10%;   
}

.hero-img-wrapper-1 {
    background-image: url("../../Assets/Images/Project-Image (11).jpg");
    top: 150px;
    right: 80px;
}

.hero-img-wrapper-2 {
    background-image: url("../../Assets/Images/Project-Image (37).jpg");
    bottom: -250px;
    left: 10%;
}


.hero-value-wrapper {
    padding: var(--ws-3) var(--ws-auto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--ws-2);
    text-align: left;
    width: 100%;
    min-height: 80vh;
}

.hero-value {
    font-size: 4rem;
    font-family: var(--body-ff);
    color: var(--secondary-clr);
}

.value-1, .value-2, .value-3  {
    display: block;
    position: relative;
    transform: translateY(100px);
    opacity: 0;
}