.feature {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: var(--ws-auto);

}

.feature-container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    background-color: var(--accent-clr);
    padding: var(--ws-6) 0;
    position: relative;
    border-radius: 30px;
    margin: 0 auto;
    position: absolute;
}

.feature-project-1 {
    opacity: 0;
    transform: translateX(-100px);
}

.feature-project-2 {
        opacity: 0;
        transform: translateX(100px);
}

.feature-project-3 {
    opacity: 0;
    transform: translateX(-100px);
}

.feature-bg {
    width: 40%;
    height: 100%;
}

.feature-img-1 {
    background-image: url("../../Assets/Images/Project-Image (4).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
}

.feature-img-2 {
    background-image: url("../../Assets/Images/Project-Image (37).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-img-3 {
    background-image: url("../../Assets/Images/Project-Image (9).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-info {
    max-width: 50%;
}

.feature-label {
    font-size: 16px;
    font-family: var(--body-ff);
    text-transform: uppercase;
    color: var(--primary-clr);
    transform: translateY(50px);
    opacity: 0;
}

.feature-title {
    font-size: 5rem;
    font-family: var(--heading-ff);
    color: var(--splash-clr);
    font-weight: 400;
    transform: translateY(50px);
    opacity: 0;
}

.feature-desc {
    font-size: 1rem;
    font-family: var(--body-ff);
    color: var(--primary-clr);
    width: 60%;
    transform: translateY(50px);
    opacity: 0;
}

.feature-link {
    font-size: 24px;
    font-family: var(--body-ff);
    color: var(--primary-clr);
    position: absolute;
    bottom: 120px;
    font-family: var(--heading-ff);
    color: var(--splash-clr);
    font-size: 8rem;
}





