.feature {
    position: relative;
}

.feature-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-clr);
    width: 400%;
    height: 90vh;
}

.feature-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-cta {
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: var(--accent-clr);
    padding: 4rem 0;
}

.feature-cta a {
    font-family: var(--heading-ff);
    font-size: 5rem;
    color: var(--secondary-clr);
}

.feature-hover {
    border-bottom: 2px solid var(--secondary-clr);
}