@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*outline: 2px solid limegreen;*/
}

:root {
  --accent-clr: #872823;
  --primary-clr: #f5e9e9;
  --secondary-clr: #302727;
  --splash-clr: #f6a917;

  --body-ff: 'Poppins', sans-serif;
  --heading-ff: 'Playfair Display', serif;

  --ws-1: .5rem;
  --ws-2: 1rem;
  --ws-3: 1.5rem;
  --ws-4: 2rem;
  --ws-5: 2.5rem;
  --ws-6: 3rem;
  --ws-auto: 10vw;
}

.container {
  background-color: var(--primary-clr);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
}


/*************Preloader Animation Styling***************/
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  gap: 10px;
  flex-wrap: wrap;
}

.pulse {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--primary-clr);
  border-radius: 50%;
  border: 1px solid var(--primary-clr);
  animation-name: loader;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.pulse:nth-child(1) {
  background-color: var(--secondary-clr);
}

.pulse:nth-child(2) {
  animation-delay: .5s;
}

.pulse:nth-child(3) {
  background-color: #a32727;
  animation-delay: 1.5s;
}

@keyframes loader {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.4);
  }
}