* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /*outline: 2px solid limegreen !important;*/
}

:root {
  /* || Colors*/
  --accent-clr: #b68f56;
  --primary-clr: #0d0d0d;
  --secondary-clr: #dbdbdb;
  /* || Font family*/
  --text-ff: "Poppins", Arial, sans-serif;
  /* || Font size*/
  --biggest-fs: 4rem;
  --h1-fs: 3.25rem;
  --h2-fs: 1.5rem;
  --h3-fs: 1.25rem;
  --normal-fs: 1rem;
  --small-fs: 0.875rem;
  --smaller-fs: 0.713rem;
  /* ||White-space*/
  --ws-1: 0.5rem;
  --ws-2: 1rem;
  --ws-3: 1.5rem;
  --ws-4: 2rem;
  --ws-5: 2.5rem;
  --ws-6: 3rem;
  --ws-adjustable: 10%;
}

/* || General styles*/
body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-ff);
}

h1 {
  font-size: var(--h1-fs);
}

h2 {
  font-size: var(--h2-fs);
}

h3 {
  font-size: var(--h3-fs);
}

p {
  font-family: var(--text-ff);
  font-size: var(--normal-fs);
}

img,
video {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: var(--text-ff);
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/* || Utilities */
.container {
  width: 100%;
  padding: var(--ws-adjustable) var(--ws-adjustable) 0 var(--ws-adjustable);
  background: var(--primary-clr);
}

section {
  padding-bottom: var(--ws-adjustable);
  height: fit-content;
}

