@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*outline: 2px solid limegreen;*/
}

:root {
  --accent-clr: #872823;
  --primary-clr: #f5e9e9;
  --secondary-clr: #302727;
  --splash-clr: #f6a917;

  --body-ff: 'Poppins', sans-serif;
  --heading-ff: 'Playfair Display', serif;

  --ws-1: .5rem;
  --ws-2: 1rem;
  --ws-3: 1.5rem;
  --ws-4: 2rem;
  --ws-5: 2.5rem;
  --ws-6: 3rem;
  --ws-auto: 10vw;
}

main {
  display: contents;
}

.container {
  background-color: var(--primary-clr);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
}


/*************Preloader Animation Styling***************/
.loader-wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-clr);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arcs {
  transform: scale(1);
}

.arc-one {
  animation: arcframer 0.5s 3s forwards;
  opacity: 0;
}

.arc-two {
  animation: arcframer 0.5s 3.5s forwards;
  opacity: 0;
}

.v-line {
  animation: lineframer 1s 1s forwards;
  opacity: 0;
}

.h-line {
  animation: lineframer 1s forwards;
  opacity: 0;
}

.circle {
  animation: lineframer 1s 4.5s forwards;
  opacity: 0;
}

@keyframes arcframer {
  10% {
    stroke-dasharray: 0, 120;
    opacity: 0.1;
  }
  50% {
    stroke-dasharray: 50, 120;
    opacity: 0.4;
  }
  70% {
    stroke-dasharray: 100, 100;
    opacity: 0.8;
  }
  100% {
    stroke-dasharray: 0, 0;
    opacity: 1;
  }
}

@keyframes lineframer {
  10% {
    stroke-dasharray: 0, 120;
    opacity: 0.1;
  }
  50% {
    stroke-dasharray: 30, 120;
    opacity: 0.4;
  }
  70% {
    stroke-dasharray: 100, 120;
    opacity: 0.8;
  }
  100% {
    stroke-dasharray: 0, 0;
    opacity: 1;
  }
}

@keyframes circleframer {
  10% {
    stroke-dasharray: 5, 110;
    opacity: 0.1;
  }
  50% {
    stroke-dasharray: 50, 110;
    opacity: 0.4;
  }
  70% {
    stroke-dasharray: 110, 110;
    opacity: 0.8;
  }
  100% {
    stroke-dasharray: 0, 0;
    opacity: 1;
  }
}