.feature-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feature-img-container {
    width: 60%;
}

.feature-card-container {
    max-width: 30%;
}

.feature-card {
    border-top: 1px solid var(--secondary-clr);
    padding: var(--ws-2) 0;
}

.feature-card p {
    color: var(--secondary-clr);
}

.feature-title {
    list-style: square inside;
    padding: 0;
    color: var(--secondary-clr);
    font-family: var(--text-ff);
    font-size: var(--smaller-fs);
    text-transform: uppercase;
}

.feature-desc {
    font-size: var(--h1-fs);
}

.feature-text {
    line-height: 1.2;
    opacity: 0.7;
    padding-top: var(--ws-2);
}