#home-contact {
    width: 100%;
}

.pry-style {
    width: 100%;
    padding: 0 var(--ws-4);
    margin: auto 0;
}

.pry-style input {
    padding: var(--ws-1);
    width: 100%;
    margin-top: var(--ws-2);
    background-color: transparent;
    border-bottom: 1px solid var(--primary-clr);
}

.pry-style textarea {
    padding: var(--ws-1);
    width: 100%;
    margin-top: var(--ws-2);
    background-color: transparent;
    border-bottom: 1px solid var(--primary-clr);
}

.home-contact-container h1 {
    color: var(--secondary-clr);
    font-weight: 400;
}

.home-contact-container p {
    color: var(--secondary-clr);
    margin: var(--ws-2) 0;
}

.home-contact-form {
    background-color: var(--secondary-clr);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 50vh;
}


.sec-style {
    padding: var(--ws-4);
    background-image: url(../Assets/Images/Architecture.png);
    background-repeat: no-repeat;
    background-position: center;
}