.info-card {
    max-width: 25%;
    border-top: 1px solid var(--secondary-clr);
    padding: var(--ws-2) 0;
}

.info-card p {
    color: var(--secondary-clr);
}

.info-title {
    list-style: square inside;
    padding: 0;
    color: var(--secondary-clr);
    font-family: var(--text-ff);
    font-size: var(--smaller-fs);
    text-transform: uppercase;
}

.info-desc {
    font-size: var(--h1-fs);
}

.info-text {
    line-height: 1.2;
    opacity: 0.7;
}