.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.info-header {
    color: var(--secondary-clr);
    font-weight: 400;
}

.info-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: var(--ws-4);
}

